<?xml version="1.0" encoding="ISO-8859-15"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="mxmanageprod">
            <SUBMENU id="mxcategories" cl="category" list="category_list">
                <TAB id="catpic" cl="catpic" />
            </SUBMENU>
        </MAINMENU>
    </OXMENU>
</OX>